// Colors (Nominee used http://chir.ag/projects/name-that-color/)
// Primary

$white: #FFFFFF;
$twilight-blue: #FBFEFF;
$abbey: #50505A;
$cabaret: #CE3F71;

//Secondary

$ghost: #C8C8D2;

//Shadows

$ghost-shadow: rgba(200, 200, 210, .5);